.popbox{
    display: none;
    width: 50%;
    background: linear-gradient(
    143deg,
    rgba(237, 222, 191, 1),
    rgba(25, 88, 125, 1) 80%
  );
  position: fixed;
  margin: auto;
  top: 200px;
  left: 350px;
  text-align: center;
  border-radius: 10px;
  .pop_content{
    width: 90%;
    margin: 20px auto;
    padding: 100px;
    background-color: $color-blue;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 40px $color-black;
    h1{
        text-transform: uppercase;
    }

  }

}